@import "../../assets/styles/_variables";

.container{
  width: 100%;
  display: flex;
  justify-content: center;

  &__section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    width: 97%;
    justify-content: space-evenly;
    gap: 0 4.4rem;

    &_div{
      width: 17%;
      height: 1.5%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
      margin-bottom: 4%;
      border-radius: 8px;
      z-index: 2;

      &_div{
        width: 100%;
        height: 12rem;

        &_img{
          border-radius: 5px 5px 0 0;
          position: sticky;
          width: 100%;
          height: 100%;
          z-index: 1;
        }
      }

      &_title{
        font-family: $font-bold;
        font-size: 1.3rem;
        margin: 2rem 0 0 1.5rem;
      }

      &_desc{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin: 1rem 0 0 1.5rem;

        &_title{
          font-family: $font-semi;
          font-size: $home-font;
        }

        &_info{
          font-family: $font-regular;
        }
      }
    }
  }
}