@import '../../assets/styles/__variables.scss';

header{
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: $very-Light-Gray solid 1px;
}

.container{
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 2% 0 1% 0;
  background-color: $white;

  &__title{
    font-family: $font-bold;
    font-size: $detail-font;
  }

  &__div{
    display: flex;
    gap: 3px;
    align-items: center;
    font-family: $font-semi;
    cursor: pointer;
  }
}

.dark_mode{
  background-color: $dark-Blue;
  color: $white;
}
